	* {
	    font-family: 'Roboto Slab';
	    margin: 0 auto;
	}

	a {
	    text-decoration: none;
	}

	section.header {
	    text-align: center;
	    height: calc(100vh - 3.7em);
	    width: 100%;
	}

	section.header > .container {
	    padding-top: 40vh;
	    padding-bottom: 10vh;
	}

	#readMoreBtn {
	    bottom: 5vh;
	    position: fixed;
	    padding-left: calc(50% - 25px);
	}

	section.content {
	    padding-left: 15%;
	    padding-right: 15%;
	    min-height: calc(100vh - 3.7em - 10vh);
	}

	section.footers {
	    text-align: center;
	    padding-top: 2em;
	    font-size: 0.7em;
	    padding-bottom: 1em;
	    color: rgb(136, 136, 136);
	}